@using SciencesTechnology.ViewModels.Dashboard
@model IEnumerable<UserViewModel>

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<table class="table table-striped table-hover table-bordered datatable">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Registration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i< Model.Count(); i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>
                    @if (Model.ElementAt(i).ProfileImagePath != null && Model.ElementAt(i).ProfileImagePath.Length > 0)
                    {
                        <img src="@Model.ElementAt(i).ProfileImagePath" alt="Profile Picture" class="rounded-circle" style="width: 50px; height: 50px;" />
                    }
                    else
                    {
                        <img src="~/uploads/images/profile/default-profile.png" alt="Default Profile Picture" class="rounded-circle" style="width: 50px; height: 50px;" />
                    }
                </td>

                <td>@Model.ElementAt(i).FirstName</td>
                <td>@Model.ElementAt(i).LastName</td>
                <td>@Model.ElementAt(i).DateOfRegistration.ToString("dd/MM/yyyy")</td>
                <td>
                    @if (!Model.ElementAt(i).EmailConfirmed)
                    {
                        <form asp-area="Dashboard" asp-controller="Admin" asp-action="ConfirmUserEmail" method="post" style="display:inline;">
                            <input type="hidden" name="UserId" value="@Model.ElementAt(i).UserId" />
                            <button type="submit" class="btn btn-success btn-sm">Confirm</button>
                        </form>
                    }
                    <a asp-area="Dashboard" asp-action="UserDetails" asp-controller="Admin" asp-route-id="@Model.ElementAt(i).UserId" class="btn btn-info btn-sm">Details</a>
                    <form asp-area="Dashboard" asp-action="DeleteUser" method="post" style="display:inline;">
                        <input type="hidden" name="userId" value="@Model.ElementAt(i).UserId" />
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

